.FormularioCliente{
  width: '700px',
}

.form-row {
  display: flex;
}

.form-column {
  flex: 1;
  padding: 0 10px; /* Ajusta el espaciado entre columnas según sea necesario */
}

/* Ajusta el estilo de los campos de formulario según sea necesario */
.example-form-field {
  width: 100%;
  margin-top: 16px;
}

.example-full-width{
  width: 100%;
  margin-top: 16px;
}
